<head>
  <link rel="stylesheet" href="Components/NBar/navbarstyle.css">
  <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;500;700&display=swap" rel="stylesheet">
</head>

<nav class="navbar custom-navbar">
  <div class="container-fluid">
    <!-- Left Section -->
    <a class="navbar-brand" href="/frontEnd/index.html">Baymax Bot</a>

    <!-- Middle Section -->
    <div class="d-flex">
      <a class="nav-link" href="#">Online Diagnosis</a>
    </div>

    <!-- Right Section -->
    <div class="d-flex">
      <a class="nav-link" href="#">About Us</a>
    </div>
  </div>
</nav>
